@use 'src/styles/vars';

.team {
  text-align: center;
  width: 17%;
  padding-bottom: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.3);

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: vars.$dark-purple;
  }

  &__member {
    font-size: 0.8rem;
    line-height: 1.3;
  }
}
