@use 'src/styles/vars';

.not-found {
  
  &__container {
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    display: inline-block;
    width: 100vw;
  }

  &__title {
    font-family: vars.$special-font;
    font-size: 6rem;
    font-weight: bold;
    color: vars.$dark-purple;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.2rem;
    color: vars.$dark-purple;
  }

  &__img {
    display: block;
    width: 35%;
    margin: 0 auto;
  }

}

@media (max-width: 768px) {
  .not-found {

    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 1rem;
    }

    &__img {
      width: 80%;
    }
  }
}
