@use 'src/styles/vars';

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;

   
}
.backgroundImage {
    background-image: url('./NotFoundImage.png')
    no-repeat
    left center;
  }