@use 'src/styles/vars';

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: vars.$dark-purple;
    color: vars.$light-color;
    padding: 1.3rem;

    &::before {
        content:'';
        position: absolute;
        background-color: transparent;
        bottom: -40vh;
        left: 2rem;
        height: 40vh;
        width: 6rem;
        border-top-left-radius: 2rem;
        box-shadow: -3rem -1rem 0 0 vars.$dark-purple;
    }

    &__banner {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        &-logo {
            width: 60px;
            //filter: drop-shadow(0.5px 0.5px 1px #fafafa);
        }

        &-title {
            font-family: vars.$special-font;
            font-size: 2rem;
        }
    }

    &__btns--mobile {
        display: none;
    }
}

@media (max-width: 1200px) {
    .header::before {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {

        &__btns--desktop {
            display: none;
        }

        &__btns--mobile {
            display: block;
        }

        &::before {
            display: none;
        }
    }
}