@use 'src/styles/vars';

.planning {
    padding: 4rem;
    
    &__container {
        width: 100%;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
        border-radius: 2rem;
        padding-bottom: 1rem;
        height: calc(100vh - 157px - 8rem);
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        background-color: white;
        padding: 1rem 0 0 0;
        border-radius: 2rem;
    }

    &__calendar {
        height: calc((100vh - 157px - 8rem) - 167px);
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
          }
    }
}

@media (max-width: 1200px) {
    .planning {
        padding: 2rem;
    }
}

@media (max-width: 1000px) {
    .planning {
        padding: 1rem;
    }
}