.planning {
    padding: 4rem;
    
    &__container {
        width: 100%;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
        border-radius: 2rem;
        padding: 1rem;
    }

    &__header {
        display: flex;
        justify-content: center;
        column-gap: 3rem;
    }
}

@media (max-width: 1200px) {
    .planning {
        padding: 2rem;
    }
}