@use 'src/styles/vars';

.planning {
    padding: 4rem;
    
    &__container {
        width: 100%;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
        border-radius: 2rem;
        padding: 0 1rem 1rem 1rem;
        height: calc(100vh - 157px - 8rem);
        overflow: auto;
        position: relative;

        &::-webkit-scrollbar {
            width: 0.5rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: vars.$dark-purple;
            border-radius: 10px;
        }
    }

    &__header {
        position: sticky;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: flex-end;
        background-color: white;
        padding: 1rem 0 0 0;
    }
}

@media (max-width: 1200px) {
    .planning {
        padding: 2rem;
    }
}

@media (max-width: 1000px) {
    .planning {
        padding: 1rem;
    }
}