.PageContact{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.photocontainer {
    
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 1em;
    padding: 0 .45em;
    width: 100%;
    display: flex;   
    
  }


.photos{
    border-radius: 100%;
    padding: 2rem 1rem ;
    filter: grayscale(100%) brightness(110%);
-webkit-filter: grayscale(100%) brightness(110%);
-moz-filter: grayscale(100%) brightness(110%);
    
  }

.content {
    
    
    font-family: 'Roboto', sans-serif;  
    padding: 2rem 0;
    font-size: 25px;    
    color: #012942;
    text-align: center;
    
}



.contactbutton {
    
    padding: 1rem;

  }

  .prenom{
    font-size: 3rem;
    padding-bottom: 1rem;

  }
  
