@use 'src/styles/vars';
.usersPage {
  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    column-gap: 1rem;
  }
}
